

/* Css main cuts*/
body{
  background-color: #303030;
}
.wrapper{
  margin: 20px auto 0px auto;
  width: 95%;
  height: 90vh;
  background-image: url(src/monkey33.jpg);
  background-size: cover;
}
main{
  width: 100%;
  height: 82vh;
  clear: both;
  position: relative;
}

header{
  padding-top: 10px;
  width: 100%;
  color: white;
  font-family: raleway;
  font-size: 80%;
}
.description{
  position: absolute;
  bottom: 30px;
  right: 0px;
  width: 300px;

}
/* Styling of items*/

.search{
  margin-top: 100px;
  margin-left: 80px;
  width: 100%;
  height: 250px;
}
.logo{
  width: 120px;

}
.search_input{
  margin-top: 5px;

}
header .nav-left{
width: 60%;
padding-left: 30px;
}
header .nav-right{
  width: 33%;
  text-align: right;
  padding-right: 30px;
}

header .nav-left ul li{
  display: inline-block;
  margin-right: 30px;
}
.separator-right{
  border-right: 1px white solid;
}
header .nav-right ul li{
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  vertical-align: middle;
}
header .nav-right ul li img{
  width: 30px;
}
a{
  text-decoration: none;
  color: inherit;
}
.current_page{
  padding-bottom: 10px;
  border-bottom: 1px white solid;
}
.pull-left{
  float:left;
}

.inline{
  display: inline-block;
}

input[type="text"] {
  margin-left: 30px;
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border: 10px;
    box-shadow: 0px 2px 5px 0px #303030;
    font-size: 16px;
    background-color: white;
    background-image: url('search_icon.png');
    background-position: right;
    background-repeat: no-repeat;
    margin-right:20px;
}

.square{
  width: 40px;
  height:40px;
  background-color: rgba(0,0,0,0.6);
  margin-right: 5px;
  text-align: center;
}
.square2{
  width: 80px;
  height:40px;
  background-color: rgba(0,0,0,0.6);
  margin-right: 5px;
  text-align: center;
  display: inline-block;
}
.arrow{
  vertical-align:middle;
  margin-top: 12px;
}
.arrow2{
  vertical-align:middle;
  margin-top: 2px;
}

footer ul li, p{
  display: inline-block;
  color: #696969;
  font-family: raleway;
  font-size: 80%
}

footer .footer-left{
  width: 66%;
}
.footer-right{
  text-align: right;
  width: 30%;
}
 main p{
   color: white;
 }
/*media queries*/

@media only screen and (max-device-width : 800px){

.nav-left { display: none }
}
